streamlit
networkx

# Data analysis
numpy
scipy
pandas
matplotlib

# tools
tabulate # prints tables nice and sexy
mmh3
python-dotenv # handes .env files
supabase # database

# DeepRL
stable-baselines3
gym >= 0.26.0


